<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/test.js"></script>
  </head>
  <body>
    <a href="/slider"><strong>Slider Example</strong></a>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting }}</blockquote> <!--was greeting.content-->
    {% endfor %}

    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <form action="/submit" method="post">
      <div><textarea name="test"></textarea></div>
      <div><input type="submit" value="Test"></div>
    </form>
    {% for content in contents %}
        <div>Content query #{{loop.index}}: {{ content.test_content }}</div>
    {% endfor %}

    <div id='ajax_test'><button name="button">AJAX Test</button></div>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}