<!DOCTYPE html>
<html>
<head>
  <title>Confirmation</title>
  <script type="text/javascript" src="/js/cookies.js"></script>
  <script type="text/javascript" src="/js/querystring_to_cookie.js"></script>
</head>
<body>
  <h1>3rd Page</h1>
  <h2>After browsing the site the user converts and Marketo will grab the 
    URL data passed from Google from the cookie.

    In this example there are two hidden fields ("PPC Term" and "PPC Keyword")
    that will capture and store the PPC info to be synced with SFDC.</h2>

    <script src="//app-sji.marketo.com/js/forms2/js/forms2.js"></script>
    <form id="mktoForm_1963"></form>
    <script>MktoForms2.loadForm("//app-sji.marketo.com", "268-HPK-248", 1963);</script>
    <a href="/blank">BACK</a>
  <script type="text/javascript">
    document.write(unescape("%3Cscript src='//munchkin.marketo.net/munchkin.js' type='text/javascript'%3E%3C/script%3E"));
  </script> 
  <script>Munchkin.init('268-HPK-248');</script>
</body>
</html>

