<!DOCTYPE html>
<html>
<head>
  <title>Cookies</title>
  <script type="text/javascript" src="/js/cookies.js"></script>
  <script type="text/javascript" src="/js/querystring_to_cookie.js"></script>
</head>
<body>
  <h1>1st Page</h1>
  <h2>Google passes URL parameters based on the keyword the user searched for 
    and other campaign information. However, the user does not fill out the
    form on this page.</h2>
  <br />
  <script src="//app-sji.marketo.com/js/forms2/js/forms2.js"></script>
    <form id="mktoForm_1963"></form>
    <script>MktoForms2.loadForm("//app-sji.marketo.com", "268-HPK-248", 1963);</script>
  <script type="text/javascript">
    document.write(unescape("%3Cscript src='//munchkin.marketo.net/munchkin.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script>Munchkin.init('268-HPK-248');</script>
  <br />
  <a href="/blank">Click here to go to the second page</a>
</body>
</html>

