<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="js/jquery-1.9.1.min.js"></script>

    <!-- Basic stylesheet -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
 
    <!-- Default Theme -->
    <link rel="stylesheet" href="/stylesheets/owl.theme.css">
    
    <!-- Include js plugin -->
    <script src="js/owl.carousel.js"></script>
    <script src="js/slider.js"></script>
  </head>

  <body>
    <div class="header">Hello World</div>

    <div class="owl-carousel">
      <div class="firstpage-firstcolumn" id="firstpage-firstcolumn"> 
        <div class="firstpage-firstcolumn-top">
          <a href="/">
            <img name="diy_design" src="images/diy_design.png"> 
            <h2>DIY Design</h2>
            Enter Description Here
          </a>
        </div>
        <div class="firstpage-firstcolumn-bottom">
          <a href="/">
            <img name="actionable_insight" src="images/actionable_insight.png"> 
            <h2>Actionable Insight</h2>
            AI Description
          </a>
        </div>
      </div>
      <div class="firstpage-secondcolumn" id="firstpage-secondcolumn"> 
        <div class="firstpage-secondcolumn-top">
          <a href="/">
            <img name="powerful_automation" src="images/powerful_automation.png"> 
            <h2>Powerful Automation</h2>
            Enter Description Here
          </a>
        </div>
        <div class="firstpage-secondcolumn-bottom">
          <a href="/">
            <img name="marketing_roi" src="images/marketing_roi.png"> 
            <h2>Marketing ROI</h2>
            AI Description
          </a>
        </div>
      </div>
      <div class="firstpage-thirdcolumn" id="firstpage-thirdcolumn"> 
        <div class="firstpage-thirdcolumn-top">
          <a href="/">
            <img name="nurture" src="images/nurture.png"> 
            <h2>Intelligent Nurturing</h2>
            Enter Description Here
          </a>
        </div>
        <div class="firstpage-thirdcolumn-bottom">
          <a href="/">
            <img name="replicate_success" src="images/replicate_success.png"> 
            <h2>Replicate Success</h2>
            AI Description
          </a>
        </div>
      </div>
      <div class="secondpage-firstcolumn-top"> 
        <a href="https://seo.marketo.com/" target="_blank">
          <img name="search_optimization" src="images/search_optimization.png">
          <h2>Search Optimization</h2>
          AI Description 
        </a>
      </div>
      <div class="secondpage-secondcolumn-top"> 
        <a href="http://stage.insightera.com/demo/" target="_blank">
          <img name="personalization" src="images/personalization.png"> 
          <h2>Personalization</h2>
          AI Description
        </a>
      </div>
      <div class="secondpage-thirdcolumn-top"> 
        <a href="https://app-sjp.marketo.com/#CAL" target="_blank">
          <img name="calendar_white" src="images/calendar_white.png">
          <h2>Calendar</h2>
          AI Description
        </a>
      </div>
    </div>

    <script type="text/javascript">
      $(".owl-carousel").owlCarousel({
        afterInit: function(elem){
          var that = this;
          that.owlControls.prependTo(elem);
        },
        slideSpeed : 300,
        paginationSpeed : 400,
        items : 3,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3],
        scrollPerPage:true
      });
    </script>
  </body>
</html>
{% endautoescape %}